@model PaginatedList<NZrugbyDatabase.Models.Manager>

@{
    ViewData["Title"] = "Managers";
}

<h1>Managers List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@* This part means that when you go on to the managers page it will say players Managers index*@
<form asp-controller="Managers" asp-action="Index" >
    <p>
        Manager <input type="text" name="searchTerm"  value="@ViewData["CurrentFilter"]"/>
        <button type="submit" class="btn btn-primary">Search</button>
    </p>
</form>

@* this means that when you hover your mouse over the coloums it darkens so you know where yor mouse is and its borded and the coloums and white and grey*@
<table class="table table-bordered table-striped table-hover">
    <thead>

        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Last Name</a>
            </th>
            <th>
                First Name
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">DOB</a>
            </th>
            <th>
                Experience
            </th>
            <th>
                Team
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ManagerID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ManagerID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ManagerID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>
