@model IEnumerable<NZrugbyDatabase.Models.Team>

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.yearRegistered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yearRegistered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeamID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeamID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeamID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
