@model PaginatedList<NZrugbyDatabase.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<div>
    <h1>Player List</h1>


    <p>

        <a asp-action="Create">Create New</a>
    </p>

    @* This part means that when you go on to the players page it will say players Players index*@
    <form asp-controller="Players" asp-action="Index">
        <p>
            @* this means that its a search box and btn mean the colour of the search button *@
            Player <input type="text" name="searchTerm" value="@ViewData["CurrentFilter"]"  />
            <button type="submit" class="btn btn-primary">Search</button>
        </p>
    </form>

    @* this means that when you hover your mouse over the coloums it darkens so you know where yor mouse is and its borded and the coloums and white and grey*@
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Last Name</a>
                </th>
                <th>
                    First Name
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">DOB</a>
                </th>
                <th>
                    Position
                </th>
                <th>
                    Contact
                </th>
                <th>
                    Team
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Team.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PlayerID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.PlayerID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PlayerID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
</div>
