@model IEnumerable<NZrugbyDatabase.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<div>
    <h1>Player List</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <form asp-controller="Players" asp-action="Index">
        <p>
            Player <input type="text" name="searchTerm" />
            <button type="submit" class="btn btn-primary">Search</button>
        </p>
    </form>
    
            
           


    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Lastname)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Firstname)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.DOB)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Position)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Team)</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Team.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PlayerID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.PlayerID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PlayerID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
