@model IEnumerable<NZrugbyDatabase.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<h1>Player List</h1>

<h3>This is a collection of some rugby union players from New Zealand</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Players" asp-action="Index">
    <p>
        Player <input type="text" name="searchTerm" />
        @*<input type="submit" value="Search"/>*@
        <button type="submit" Team="btn btn-Team">Search</button>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.TeamID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PlayerID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PlayerID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PlayerID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
